body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#highScore1{
    position: absolute;
    top: 20px;
    left: 0;
    padding-left: 40px;
    color: rgb(15, 31, 206);
    font-style: normal;
}

#timer {
    border-style: inset;
    position: absolute;
    top: 20px;
    right: 0;
    padding: 15px;
    margin-right: 40px;
}

.container {
    text-align: center;
    padding: 40px 90px 40px 90px;
    height: auto;
    width: auto;
}

#questionsDiv{
    margin-top: 75px;
}

#unorderedList {
    list-style-type: none;
    position: relative;
    text-align: center;
    padding-left: 100px;
    width: 200px;
}

li {
background-color: rgb(160, 160, 248);
border-style: groove;
border-color: rgb(225, 142, 225);
border-width: 2px;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 7px;

}

#startButton{
    height: 50px;
    width: 150px;
    margin-top: 40px;
    background-color: rgb(rgb(61, 77, 198));
    border-color: rgb(212, 17, 212);
    border-width: 3px;
    border-radius: 12px;
/* added color to the background of the answers/ */
}

#createH1 {
    font-size: 50px;
    color: rgb(39, 156, 90);
    background: -webkit-linear-gradient(rgb(173, 45, 199), rgb(132, 240, 69));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
/* used the resource https://css-tricks.com/snippets/css/gradient-text/ */
}

#initials{
    height: 35px;
    width: 75px;
    border-radius: 5px;
    border-width: 1.5px;
}

button {
    font-size: 120%;
    margin-left: 10px;
    height: 35px;
    width: 75px;
    border-radius: 10px;
}

#createDiv {
    margin-top: 40px; 
}